{% extends "layout-dashboard.html" %}

{% block date_list %}
    {% for i in range(dates|length) %}
        {% if i==3 %}
        <li class="bold active"><a class="waves-effect waves-cyan active" href="day{{ i }}"><span class="menu-title">({{ dates[i].day.capitalize() }}){{ dates[i].date }}</span></a>
        </li>
        {% else %}
        <li class="bold"><a class="waves-effect waves-cyan " href="day{{ i }}"><span class="menu-title">({{ dates[i].day.capitalize() }}){{ dates[i].date }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
{% endblock date_list %}

{% block date %}
    {% if dates[3] %}
    <h5 class="m-0 sidebar-title">Order Recommendation for ({{ dates[3].day.capitalize() }}){{ dates[3].date }}</h5>
    {% endif %}
{% endblock date %}

