{% extends "layout-main.html" %}

{% block aside %}
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
      <div class="brand-sidebar">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index"><img class="hide-on-med-and-down" src="{{ url_for('static',filename='images/logo/materialize-logo-color.png') }}" alt="materialize logo"/><img class="show-on-medium-and-down hide-on-med-and-up" src="{{ url_for('static',filename='images/logo/materialize-logo.png') }}" alt="materialize logo"/><span class="logo-text hide-on-med-and-down">CorrectOrder</span></a><a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a></h1>
      </div>
      <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="navigation-header"><a class="navigation-header-text">Sales Prediction</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="active bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard">Daily</span></a>
          <div class="collapsible-body">
            <ul class="collapsible collapsible-sub category-list display-grid tabs" data-collapsible="accordion">
            {% for i in range(1, dates|length) %}
                {% if i==1 %}
                <li class="tab bold text-normalize"><a class="waves-effect waves-cyan active" href="index#day{{ i }}">
                    <i class="material-icons">radio_button_unchecked</i>
                    <span class="menu-title"> ({{ dates[i].day }}){{ dates[i].date }}(Tomorrow)</span></a>
                </li>
                {% else %}
                <li class="tab text-normalize bold"><a class="waves-effect waves-cyan " href="index#day{{ i }}"><i class="material-icons">radio_button_unchecked</i><span class="menu-title">({{ dates[i].day }}){{ dates[i].date }}</span></a>
                </li>
                {% endif %}
            {% endfor %}
             </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard">Weekly</span></a>
          <div class="collapsible-body">
            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            {% for i in range(weeks|length) %}
                <li class="bold"><a class="waves-effect waves-cyan " href="week{{ i }}"><i class="material-icons">radio_button_unchecked</i><span class="menu-title"> Week {{ weeks[i] }}</span></a>
                </li>
            {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
      <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
{% endblock aside %}

{% block main %}
    <div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
          <div class="container">
            <div class="section">

   {% for i in range(1, dates|length) %}
   <div class="row animate fadeRight" id="day{{ i }}">
      <div class="order-content-head">
        <div class="header-details">
            <h5 class="m-0 sidebar-title">Order Recommendation for ({{ dates[i].day }}){{ dates[i].date }} at {{ branch_name }}</h5>
        </div>
      </div>
      <div class="col s12 m4 l3">
         <div class="card padding-4 animate fadeLeft">
            <ul class="category-list display-grid tabs">
            <li class="sidebar-title">Categories</li>
            <li class="tab"><a href="#pastries-{{ i }}" class="text-sub">Pastries/Cakes</a></li>
            <li class="tab"><a href="#breakfast-{{ i }}" class="text-sub">Breakfast</a></li>
            <li class="tab"><a href="#lunch-{{ i }}" class="text-sub">Lunch</a></li>
            </ul>
         </div>
      </div>
      <div class="col s12 m8 l9">
         <div class="card subscriber-list-card animate fadeRight" id="pastries-{{ i }}">
            <div class="card-content pb-1">
               <h4 class="card-title mb-0">Pastries/Cakes <a class="float-right waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="pastry-dropdown"><i class="material-icons">more_vert</i></a></h4>
                <ul class="dropdown-content" id="pastry-dropdown">
                  <li><a class="grey-text text-darken-1" href="products-edit">Edit products</a></li>
                </ul>
            </div>
            <table class="subscription-table striped">
               <thead>
                  <tr>
                     <th>Item Name</th>
                     <th class="align-center">Sales<br>Prediction</th>
                     <th class="align-center">Reminder From<br>previous day</th>
                     <th class="align-center">Recommended<br>Amount</th>
                  </tr>
               </thead>
               <tbody>
               {% for p in pastry %}
                  <tr>
                     <td>{{ p.name }}</td>
                     <td class="align-center">{{ p.prediction_daily["day" ~ i|string] }}</td>
                     <td class="align-center">
                         <input id="{{ p.key }}-{{ i }}" type="number" class="reminder-input"></td>
                     <td id="output-{{ p.key }}-{{ i }}" class="align-center"></td>
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="card subscriber-list-card animate fadeRight" id="breakfast-{{ i }}">
          <div class="card-content pb-1">
             <h4 class="card-title mb-0">Breakfast <a class="float-right waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="breakfast-dropdown"><i class="material-icons">more_vert</i></a></h4>
              <ul class="dropdown-content" id="breakfast-dropdown">
                  <li><a class="grey-text text-darken-1" href="products-edit">Edit products</a></li>
              </ul>
          </div>
          <table class="subscription-table striped">
             <thead>
                <tr>
                   <th>Item Name</th>
                   <th class="align-center">Sales<br>Prediction</th>
                   <th class="align-center">Reminder From<br>previous day</th>
                   <th class="align-center">Recommended<br>Amount</th>
                </tr>
             </thead>
             <tbody>
               {% for b in breakfast %}
                  <tr>
                     <td>{{ b.name }}</td>
                     <td class="align-center">{{ b.prediction_daily["day" ~ i|string] }}</td>
                     <td class="align-center">
                         <input id="{{ b.key }}-{{ i }}" type="number" class="reminder-input"></td>
                     <td id="output-{{ b.key }}-{{ i }}" class="align-center"></td>
                  </tr>
               {% endfor %}
             </tbody>
          </table>
         </div>
         <div class="card subscriber-list-card animate fadeRight" id="lunch-{{ i }}">
          <div class="card-content pb-1">
             <h4 class="card-title mb-0">Lunch <a class="float-right waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="lunch-dropdown"><i class="material-icons">more_vert</i></a></h4>
              <ul class="dropdown-content" id="lunch-dropdown">
                  <li><a class="grey-text text-darken-1" href="edit-products">Edit products</a></li>
                  <li><a class="grey-text text-darken-1" href="add-products">Add products</a></li>
              </ul>
          </div>
          <table class="subscription-table striped">
             <thead>
                <tr>
                   <th>Item Name</th>
                   <th class="align-center">Sales<br>Prediction</th>
                   <th class="align-center">Reminder From<br>previous day</th>
                   <th class="align-center">Recommended<br>Amount</th>
                </tr>
             </thead>
             <tbody>
                <tr>
               {% for l in lunch %}
                  <tr>
                     <td>{{ l.name }}</td>
                     <td class="align-center">{{ l.prediction_daily["day" ~ i|string] }}</td>
                     <td class="align-center">
                         <input id="{{ l.key }}-{{ i }}" type="number" class="reminder-input"></td>
                     <td id="output-{{ l.key }}-{{ i }}" class="align-center"></td>
                  </tr>
               {% endfor %}
             </tbody>
          </table>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
          </div>
          <div class="content-overlay"></div>
        </div>
      </div>
    </div>
{% endblock main %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom/custom-script.js') }}"></script>
{% endblock script %}