{% extends "layout-dashboard.html" %}

{% block date_list %}
    {% for i in range(dates|length) %}
        {% if i==0 %}
        <li class="bold active"><a class="waves-effect waves-cyan active" href="day{{ i }}"><i class="material-icons">radio_button_checked</i><span class="menu-title"> test ({{ dates[i].day }}){{ dates[i].date }}</span></a>
        </li>
        {% else %}
        <li class="bold"><a class="waves-effect waves-cyan " href="day{{ i }}"><i class="material-icons">radio_button_unchecked</i><span class="menu-title">({{ dates[i].day }}){{ dates[i].date }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
{% endblock date_list %}

{% block date %}
    {% if dates[0] %}
    <h5 class="m-0 sidebar-title">Order Recommendation for ({{ dates[0].day }}){{ dates[0].date }}</h5>
    {% endif %}
{% endblock date %}