{% extends "layout-dashboard.html" %}

{% block date_list %}
<li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard">Daily</span></a>
  <div class="collapsible-body">
    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
    {% for i in range(1, dates|length) %}
        <li class="bold"><a class="waves-effect waves-cyan " href="day{{ i }}"><i class="material-icons">radio_button_unchecked</i><span class="menu-title">({{ dates[i].day }}){{ dates[i].date }}</span></a>
        </li>
    {% endfor %}
     </ul>
  </div>
</li>
{% endblock date_list %}

{% block date %}
    {% if dates[0] %}
    <h5 class="m-0 sidebar-title">Order Recommendation for ({{ dates[0].day }}){{ dates[0].date }} at {{ branch_name }}</h5>
    {% endif %}
{% endblock date %}

{% block week_list %}
<li class="bold active"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard">Weekly</span></a>
  <div class="collapsible-body">
    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
    {% for i in range(weeks|length) %}
        {% if i==1 %}
        <li class="bold active"><a class="waves-effect waves-cyan active" href="week{{ i }}"><i class="material-icons">radio_button_checked</i><span class="menu-title"> Week {{ weeks[i] }}</span></a>
        </li>
        {% else %}
        <li class="bold"><a class="waves-effect waves-cyan " href="week{{ i }}"><i class="material-icons">radio_button_unchecked</i><span class="menu-title"> Week {{ weeks[i] }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
  </div>
</li>
{% endblock week_list %}